@model MvcCoreTut.Models.Domain.Person

<form asp-action="AddPerson">
    <h2>Add Your Blog</h2>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Title</label>
        <input asp-for="Name" type="text" class="form-control">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Blog</label>
        <textarea asp-for="Email" class="form-control" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    @if (TempData["msg"] != null)
    {
            <div class="mb-3">
            @TempData["msg"]
            </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/Person/DisplayPersons" class="btn btn-primary">Display All Blogs</a>
</form>
