@model IEnumerable<MvcCoreTut.Models.Domain.Person>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h2>Blog</h2>
        </div>
        <div class="col">
            <a href="/Person/AddPerson" class="btn btn-primary float-end">Add Blog</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Blog Preview</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.OrderByDescending(p => p.Id))
                        {
                            <tr>
                                <td>@person.Name</td>
                                <td>
                                    @{
                                        var words = person.Email.Split(' ');
                                        var previewWords = words.Take(100);
                                        var preview = string.Join(' ', previewWords);
                                    }

                                    @if (words.Length > 100)
                                    {
                                        <span class="blog-preview">@preview...</span>
                                    }
                                    else
                                    {
                                        <span class="blog-preview">@person.Email</span>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-success" href="/Person/EditPerson?id=@person.Id">Edit</a>
                                        <a class="btn btn-danger" href="/Person/DeletePerson?id=@person.Id">Delete</a>
                                        <a class="btn btn-primary" href="/Person/ViewBlog?id=@person.Id">View</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .blog-preview {
        display: inline-block;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
